<!-- Common Head -->
${head}

<h1> Me </h1>

<p>${user_username}</p>
$(user_profile_picture}
<p>${user_name}</p>
<p>${user_gender}</p>
<p>${user_degree}</p>
<p>${user_student_number}</p>

<h1> My Mates </h1>

${matelist}