<div class="span3">
    <div class="span1">
        11
    </div>
    <div class="span1">
        12
    </div>
    <div class="span1">
        13
    </div>
    <div class="span1">
        21
    </div>
    <div class="span1">
        22
    </div>
    <div class="span1">
        23
    </div>
</div>
